<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkFqYV5M-XBbnIzNVM3OjpPFk_aPA7Uwo</string>
	<key>GCM_SENDER_ID</key>
	<string>543791710073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unimarket1.unimarket</string>
	<key>PROJECT_ID</key>
	<string>unimarketyay</string>
	<key>STORAGE_BUCKET</key>
	<string>unimarketyay.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543791710073:ios:f012a9f91fcdb8d71839a8</string>
</dict>
</plist>